<% provide(:title, 'Questions') %>

<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <%= render question %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
